doctype html
html(lang='zxx')
    head
        meta(charset='UTF-8')
        meta(name='description', content='Ogani Template')
        meta(name='keywords', content='Ogani, unica, creative, html')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Food Court
        // Google Font
        link(href='https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap', rel='stylesheet')
        // Css Styles
        link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
        link(rel='stylesheet', href='css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', href='css/elegant-icons.css', type='text/css')
        link(rel='stylesheet', href='css/nice-select.css', type='text/css')
        link(rel='stylesheet', href='css/jquery-ui.min.css', type='text/css')
        link(rel='stylesheet', href='css/owl.carousel.min.css', type='text/css')
        link(rel='stylesheet', href='css/slicknav.min.css', type='text/css')
        link(rel='stylesheet', href='css/style.css', type='text/css')
    body
        // Page Preloder
        #preloder
            .loader
        // Humberger Begin
        -var total = 0;

      
        // Humberger End
        // Header Section Begin
        header.header
             .container
                .row
                    .col-lg-3
                        .header__logo
                           .navbar-brand(href='/' , style ='font-size : 2rem') FOOD COURT
                    .col-lg-6
                        .header__logo
                            .hero__search.hero__search__form
                                form(action='/search')
                                    //- .hero__search__categories
                                    //-     span.arrow_carrot-down
                                    input(type='text',name = 'q', placeholder='What do you need?', value= inputs?inputs :"")
                                    button.site-btn(type='submit') SEARCH
                    .col-lg-3
                        .header__cart
                            ul
                                li
                                    a#myBtn( title ="Báo lỗi")
                                        i.fa.fa-exclamation-triangle(aria-hidden='true')

                                li
                                    a(href='/cart')
                                        i.fa.fa-shopping-bag
                                        span= cart 
                            .header__cart__price
                                | item: 
                                span=  '$' + price
                
        // Header Section End
        // Hero Section Begin
        
        // Hero Section End
        // Breadcrumb Section Begin
        section.breadcrumb-section.set-bg(data-setbg='img/breadcrumb.jpg')
            .container
                .row
                    .col-lg-12.text-center
                        .breadcrumb__text
                            h2 Checkout
                            .breadcrumb__option
                                a(href='/') Home
                                span Checkout
        // Breadcrumb Section End
        // Checkout Section Begin
        section.checkout.spad
            .container
                
                .checkout__form
                    h4 Billing Details
                    form(action='place_order' , method ='post')
                        .row
                            .col-lg-8.col-md-6
                                .row
                                    .col-lg-6
                                        .checkout__input
                                            p
                                                | Fist Name
                                                span *
                                            input(type='text' , name = 'firstName')
                                    .col-lg-6
                                        .checkout__input
                                            p
                                                | Last Name
                                                span *
                                            input(type='text', name = 'lastName')
                        
                                
                                .checkout__input
                                    p
                                        | Order notes
                                        span *
                                    input(type='text', placeholder='Notes about your order, e.g. special notes for delivery.', name = 'note')
                            .col-lg-4.col-md-6
                                .checkout__order
                                    h4 Your Order
                                    .checkout__order__products
                                        | Products 
                                        span Total
                                    
                                    each data in cartItem
                                        ul
                                            -total += parseInt(data.price) * parseInt(cartData.cart[data._id])
                                            li= data.name
                                                span= '$' + parseInt(data.price) * parseInt(cartData.cart[data._id])
                                       
                                    .checkout__order__subtotal
                                        | Subtotal 
                                        span= '$' + total
                                    .checkout__order__total
                                        | Total 
                                        span= '$' + total
                                    
                                    button.site-btn#order(type='submit' ) PLACE ORDER
        // Checkout Section End
        // Footer Section Begin

        #myModal.modal
    
            .modal-content
                .modal-header
                    h5 Báo lỗi hệ thống.
                    span.close ×
                    
                .modal-body
                    p#text_er Cảm ơn bạn đã hỗ trợ chũng tôi trong việc báo lỗi. Sự cố sẽ được khắc phục sớm nhất có thể.
                        textarea.textarea#err(name='message')
                        button( type = "submit",onclick ="send_er()").mybutton Gửi nội dung
                    p#text1 Đã gửi.

        footer.footer.spad
            .container
                
                .row
                    .col-lg-12
                        .footer__copyright
                            .footer__copyright__text
                                p
                                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                                    | Copyright ©
                                    script.
                                        document.write(new Date().getFullYear());
                                    |  All rights reserved | This template is made with 
                                    i.fa.fa-heart(aria-hidden='true')
                                    |  by 
                                    a(href='https://colorlib.com', target='_blank') Colorlib
                                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                            .footer__copyright__payment
                                img(src='img/payment-item.png', alt='')
        // Footer Section End
        // Js Plugins
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/jquery.nice-select.min.js')
        script(src='js/jquery-ui.min.js')
        script(src='js/jquery.slicknav.js')
        script(src='js/mixitup.min.js')
        script(src='js/owl.carousel.min.js')
        script(src='js/main.js')
        script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
        script.
            async function send_er(event){
                var message = document.getElementById("err").value;
                console.log(message);
               
                document.getElementById("text_er").style.display = "none";
                document.getElementById("text1").style.display = "block";
                
                await axios({
                    method: "post",
                    url :'/get_err',
                    data :{
                        message : message
                    },
                    timeout : 200
                })
            }
            var cart = #{cart};
            if (cart == 0){
                var button = document.getElementById("order");
                button.disabled = true; 
            }

            


