doctype html
html(lang='zxx')
    head
        meta(charset='UTF-8')
        meta(name='description', content='Ogani Template')
        meta(name='keywords', content='Ogani, unica, creative, html')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Food Court
        // Google Font
        link(href='https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap', rel='stylesheet')
        // Css Styles
        link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
        link(rel='stylesheet', href='css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', href='css/elegant-icons.css', type='text/css')
        link(rel='stylesheet', href='css/nice-select.css', type='text/css')
        link(rel='stylesheet', href='css/jquery-ui.min.css', type='text/css')
        link(rel='stylesheet', href='css/owl.carousel.min.css', type='text/css')
        link(rel='stylesheet', href='css/slicknav.min.css', type='text/css')
        link(rel='stylesheet', href='css/style.css', type='text/css')
    body
    -var i = 0;
        // Page Preloder
        #preloder
            .loader
        // Humberger Begin
        
        // Humberger End
        // Header Section Begin
        header.header
            .container
                .row
                    .col-lg-3
                        .header__logo
                           .navbar-brand(href='#' , style ='font-size : 2rem') FOOD COURT
                    .col-lg-6
                        .header__logo
                            .hero__search.hero__search__form
                                form(action='/search')
                                    //- .hero__search__categories
                                    //-     span.arrow_carrot-down
                                    input(type='text',name = 'q', placeholder='What do you need?', value= inputs?inputs :"")
                                    button.site-btn(type='submit') SEARCH
                    .col-lg-3
                        .header__cart
                            ul
                                li
                                    a#myBtn( title ="Báo lỗi")
                                        i.fa.fa-exclamation-triangle(aria-hidden='true')

                                li
                                    a(href='cart')
                                        i.fa.fa-shopping-bag
                                        span#cart= cart 
                            .header__cart__price
                                | item: 
                                span#price()=  '$' + price
              
        // Header Section End
        // Hero Section Begin
        //- section.hero
        //-     .container
        //-         .row
                   
        //-             .col-lg-9
        //-                 .hero__search
        //-                     .hero__search__form
        //-                         form(action='#')
        //-                             .hero__search__categories
        //-                                 | All Categories
        //-                                 span.arrow_carrot-down
        //-                             input(type='text', placeholder='What do yo u need?')
        //-                             button.site-btn(type='submit') SEARCH

         #myModal.modal
    
        #myModal.modal
    
            .modal-content
                .modal-header
                    h5 Báo lỗi hệ thống.
                    span.close ×
                    
                .modal-body
                    p#text_er Cảm ơn bạn đã hỗ trợ chũng tôi trong việc báo lỗi. Sự cố sẽ được khắc phục sớm nhất có thể.
                        textarea.textarea#err(name='message')
                        button( type = "submit",onclick ="send_er()").mybutton Gửi nội dung
                    p#text1 Đã gửi.

                   

                
        // Hero Section End
        // Categories Section Begin
        
        // Categories Section End
        // Featured Section Begin
        section.featured.spad
            .container
                //- .row
                //-     .col-lg-12   
                //-         .featured__controls
                //-             ul
                //-                 li.active(data-filter='*') All
                //-                 li(data-filter='.oranges') Oranges
                //-                 li(data-filter='.fresh-meat') Fresh Meat
                //-                 li(data-filter='.vegetables') Vegetables
                //-                 li(data-filter='.fastfood') Fastfood
                .row.featured__filter
                    each data in foodData
                        .col-lg-3.col-md-4.col-sm-6.mix.oranges.fresh-meat

                                .featured__item
                                    -var srcIm = data.image
                                    //- img(src=srcIm)
                                    .featured__item__pic.set-bg(data-setbg=srcIm)
                                        ul.featured__item__pic__hover
                                            li
                                                a( id = data.id , onclick = "add_cart(event)" , class = data.price) 
                                                    i(id = data.id, class = data.price).fa.fa-shopping-cart
                                    .featured__item__text
                                        h6
                                            a(href='#')= data.name
                                        h5=data.price
                        
                        
        // Featured Section End
        // Banner Begin
       
        // Banner End
        // Latest Product Section Begin
       
        // Latest Product Section End
        // Blog Section Begin
     
        // Blog Section End
        // Footer Section Begin
        footer.footer.spad
            .container
              
                   
                .row
                    .col-lg-12
                        .footer__copyright
                            .footer__copyright__text
                                p
                                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                                    | Copyright ©
                                    script.
                                        document.write(new Date().getFullYear());
                                    |  All rights reserved | This template is made with 
                                    i.fa.fa-heart(aria-hidden='true')
                                    |  by 
                                    a(href='https://colorlib.com', target='_blank') Colorlib
                                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                            .footer__copyright__payment
                                img(src='img/payment-item.png', alt='')
        // Footer Section End
        // Js Plugins
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/jquery.nice-select.min.js')
        script(src='js/jquery-ui.min.js')
        script(src='js/jquery.slicknav.js')
        script(src='js/mixitup.min.js')
        script(src='js/owl.carousel.min.js')
        script(src='js/main.js')
        script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
        script.
            var cartList = "#{cartList}";
            var list = cartList.split(',');
         
            async function add_cart(event){   
     
                    console.log(list);
                    var e = event.target;
                    var id  = e.getAttribute("id");

                    
                    var price = document.getElementById("price");
                    var cart = document.getElementById("cart");
                    var priceValue = parseInt(price.textContent.slice(1));
                    var a = priceValue + parseInt(e.getAttribute("class"))
                    price.innerHTML = "$" + a ;
                    console.log(cart);
                    var chk = list.every(function(x){
                        return x != id;
                    })
                    if (chk) {
                        cart.innerHTML =  parseInt(cart.textContent) + 1;
                        list.push(id);
                    }

                    await axios({
                        method: 'post',
                        url: '/add_cart',
                        data: {
                            id: id
                        },
                        timeout : 200
                    });     
            }

            async function send_er(event){
                var message = document.getElementById("err").value;
                console.log(message);
               
                document.getElementById("text_er").style.display = "none";
                document.getElementById("text1").style.display = "block";
                
                await axios({
                    method: "post",
                    url :'/get_err',
                    data :{
                        message : message
                    },
                    timeout : 200
                })
                

            } 

           
            

           
